<footer class="bg-danger text-white mt-5 pt-4 pb-3">
    <div class="container text-center">
        <h5 class="mb-3">WaveForm</h5>
        <div class="mb-3">
            <a href="https://soundcloud.com/discover" class="text-white" aria-label="Soundcloud">
                <i class="fa-brands fa-soundcloud"></i>
            </a>
            <a href="https://x.com/Froux63" class="text-white" aria-label="Twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/francois.roux/" class="text-white" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@guettapen" class="text-white" aria-label="YouTube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://open.spotify.com/user/idarkd1ablo?si=409c9a0295f74225" class="text-white" aria-label="Spotify">
                <i class="fa-brands fa-spotify"></i>
            </a>
        </div>
        <p class="text-muted small mb-1">© 2025 WaveForm. Tous droits réservés.</p>

    </div>
</footer>
