{% extends 'base.html.twig' %}

{% block body %}
    <div class="error">
        <h1>404</h1>
        <h2>Page non trouvée</h2>
        <p>Désolé, la page que vous recherchez est introuvable.</p>
        <a href="/">Retour à l'accueil</a>
</div>

{% endblock %}
