{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center">Creer un Post</h1>
        {{ form_start(addPostForm) }}
        {{ form_end(addPostForm) }}
    </div>

{% endblock %}
